{# templates/blog/noticia.html.twig #}

{% extends 'blog/blogBase.html.twig' %}

{% block titulo %}
	Noticia -
	{{parent()}}
{% endblock %}
{% block contenido %}
	<h1>Esta es una noticia</h1>
{% endblock %}
